sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --parameter-overrides \
	NodeEnv=#\
	AppURL=#\
	AppSecret=\
	LightfunnelsAppKey=\
	LightfunnelsAppSecret=\
	LightfunnelsUrl=https://api.lightfunnels.com/\
	LightfunnelsFrontUrl=https://app.lightfunnels.com/\
	DbHost=\
	DbUser=\
	DbName=\
	DbPass=\
	ShopifyClientID=\
	ShopifyClientSecret=
